
<div class="container">

    
<div class="card" style="height: 30rem;">
    <div class="card-header">
        <app-search></app-search>
      {{myprofile.login}}
    </div>
    <div class="card-body">
        <div class ="row">
            <img src={{myprofile.avatar_url}} style="height: 150px;">
        </div>
        <div class="row">
            <div class="col-md-2">
                <p class="card-text">{{myprofile.followers}} followers</p>   
            </div>
            <div class="col-md-2">
                <p class="card-text">{{myprofile.following}} following</p>
            </div>
            <div class="col-md-2">
                <p class="card-text">{{myprofile.public_repos}} repos</p>
               
            </div>
        </div> 
      
    </div>
  </div>
</div>